:root{
    --black: #0D0D0D;
    --white:#F2F2F2;
    --dk-teal:#7ABFBF;
    --teal:rgba(122, 191, 191, .5);
    --orange:#EB5428;
}

html{
    background-color: var(--teal);
}
body{
    width:1280px;
    margin:0 auto;
    background-color: var(--white);
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size:30px;
}
h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size:25px;
}
nav a, nav span, menu li, .social li, footer{
    font-size:20px;
    font-family: 'Bebas Neue', sans-serif;
}
nav{
    position:absolute;
    top:0;
    background-color: #ffff;
    width:1280px;
}
.search{
    position:relative;
    top:-1930px;
    left:450px;
    text-align: center;
    display: grid;
    grid-template-columns: 300px 1fr;
}
.search input{
    background-color: #ffff;
    border: solid var(--orange) 2px;
    position: relative;
    top:16px;
}
.search svg{
    background-color: var(--orange);
    position: relative;
    padding:2px;
    top:16px;
}
nav h2, nav svg.ham{
    display: none;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:20px;
}
nav img{
    width:60px;
    position:relative;
    padding: 5px;
    padding-left: 30px;
}
nav li{
    display:grid;
    gap:5px;
}
nav a{
    text-decoration: none;
    color:var(--orange);
    display: grid;
    grid-row:2;
    text-align: center;
}
.home svg{
    background-color: var(--orange);
    border:solid var(--orange) 35px;
    border-bottom: solid var(--orange) 65px;
    position: relative;
    top:-20px;
    left:-40px;
    grid-row:1/-1;
}
.home a{
    display: none;
}
.sign svg{
    position:relative;
    right:-40px;
}
.sign a{
    color:var(--black);
}
header{
    display: grid;
    margin-top:160px;
    grid-template-rows: 200px 1fr;
}
header h1{
    padding-top:85px;
    grid-column: 1/3;
    text-align: center;
}
div.tacos{
    display:grid;
    grid-template-columns: 130px 550px 550px;
    grid-template-rows: .25fr 1fr;
}
div.tacos img{
    width:500px;
    grid-row:1/3;
}
menu{
    grid-row:1/3;
    background-color: #ffff;
    border: solid var(--orange) 2px;
}
menu li{
    display:grid;
}
menu button{
    background-color: #ffff;
    border: none;
    margin: 20px 80px 10px 10px;
    color:var(--orange);
    font-family: 'Bebas Neue', sans-serif;
}
.details{
    background-color: var(--black);
    color: var(--dk-teal);
    text-align: center;
}
.details div{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.ingredients{
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.ingredients h2{
    text-align: center;
}
aside{
    background-color: var(--dk-teal);
}
aside h2{
    text-align: center;
}
aside div.dishes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer h3, footer h2{
    display:none;
}
footer li{
    color: var(--orange);
    font-family: 'Bebas Neue', sans-serif;
    display: grid;
}
div.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section.links{
    grid-column: 2;
}
section.links ul{
    display: flex;
}
section.links li{
    padding:20px 50px;
}
section.author{
    grid-column: 1;
    grid-row:1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:20px;
}
section.author img{
    width:200px;
    grid-column: 1;
}
section.author p{
    grid-column: 2;
    grid-row:1;
}
@media (max-width:800px){
    html{
        width:800px;
    }
    body, nav{
        width: 768px;
        margin:0 auto;
    }
    nav{
        padding-top: 60px;
    }
    nav ul{
        grid-row:2;

        gap:10px;
    }
    li.home svg{
        position: absolute;
        top:0;
        left:0;
        border:0;
    }
    li.sign{
        position: absolute;
        top:0;
        left:650px;
    }
    nav img{
        width:45px;
    }
    .search{
        position:absolute;
        top:0;
        left:350px;
        grid-template-columns: 200px 1fr;
    }
    header h1{
        text-align: justify;
        margin: 0;
        padding: 25px 10px;
        grid-row:1;
    }
    div.tacos{
        position: relative;
        top:-120px;
    }
    div.tacos img{
        width:768px;
        position: relative;
        left:-130px;
    }
    menu{
        display: flex;
        height: 100px;
        width: 768px;
        border:none;
        margin:0;
        background-color: rgba(212, 212, 212, 0.5);
    }
    .tacos p{
        grid-column: 1/3;
    }
    section.details{
        background-color: var(--white);
        color:var(--black);
    }
    section.details div{
        display: inline-block;
    }
    section.details div section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    aside div.dishes{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    aside div.dishes img{
        width:100px;
    }
    section.author{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0;
    }
    section.author img{
        grid-row:1;
        width:150px;
    }
    section.author p{
        grid-row: 2;
    }
    section.links li{
        padding:20px 20px;
    }
}
@media (max-width:500px){
    body, nav{
        width: 414px;
        margin:0 auto;
    }
    nav li{
        display: none;
    }
    nav{
        height: 20px;
    }
    nav svg.ham, li.home, li.sign{
        display: grid;
    }
    .search{
        position:absolute;
        top:80px;
        left:290px;
    }
    li.home{
        position: relative;
        left:140px;
        top:-115px;
    }
    nav svg.ham{
        position: relative;
        left:10px;
        top:-50px;
    }
    li.sign{
        position: relative;
        left:240px;
        top:-110px;
    }
    header{
        position: relative;
        top:-90px;
        background-color: var(--white);
        padding-top: 50px;
    }
    header h1{
        position: relative;
        left:140px;
    }
    div.tacos img{
        position: relative;
        top: 100px;
        width:414px;
        height: auto;
    }
    div.tacos svg{
        width: 30px;
    }
    div.tacos menu{
        width: 100px;
        padding: 0;
        background-color: var(--white);
    }
    menu button{
        margin:30px;
    }
    header p{
        position: relative;
        top: 110px;
        width:400px;
    }
    section.details{
        text-align: justify;
    }
    section.details h2{
        position: relative;
        left:180px;
    }
    div.ingredients{
        display: grid;
        grid-template-rows: 300px 400px;
        grid-template-columns: 0;
    }
    div.ingredients section h2{
        position: relative;
        left:10px;
    }
    div.ingredients section{
        grid-column: 1/3;
    }
    aside div.dishes{
        grid-template-columns: 1fr;
    }
    div.footer{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 0;
    }
    section.author img{
        grid-row:2;
    }
    section.author p{
        grid-row: 3;
    }
}